body{
  background: linear-gradient(to right, #808080, #373737);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

  
.tarjeta-presentacion {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 28px;         
  font-weight: bold;       
  color: #333;             
  text-transform: uppercase; 
  letter-spacing: 1px;     
  margin-bottom: 10px;     
}

p{
  display: flex;
  justify-content: center;
  margin: ;
}




